<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="../../Scripts/flight.js"></script>
    <script src="../../Scripts/AutoRefresh.js"></script>
    <script src="../../Scripts/DepartureDets.js"></script>
    <script src="../../Scripts/ArrivalsDets.js"></script>
    <title> Home Page </title>
</head>

<body style="background-image:url(https://c4.wallpaperflare.com/wallpaper/1017/525/123/the-sky-aviation-the-plane-background-wallpaper-preview.jpg);background-repeat:no-repeat; background-position:center; background-attachment:fixed; background-size:cover">
    <nav class="navbar navbar-light bg-info">
        <form class="form-inline">
            <a class="navbar-brand">RdtFlights</a>
            <div class="navbar-static-top" id="nav-bar-top">
                <ul class="nav navbar-nav navbar-static-top">
                    <li><a href="getArrivals">Arrivals</a></li>
                    <li><a href="getFlights">Departures</a></li>
                    <li><a href="SearchPage">Search</a></li>
                </ul>
            </div>
        </form>
    </nav>
</body>
</html>